@import "tailwindcss";
@import "tailwindcss/utilities";

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}

.pagination-zindex {
  z-index: -1;
  /* Lower z-index */
  position: relative;
  /* Ensure it does not escape its container */
}